{% extends 'base.html' %}

{% block content %}

<div style="overflow-x:auto;"class="app-content">
    <h1 class="app-content-headerText" style="width:fit-content;">WAN Tool Data</h1>
    <div>
        <table style="padding:10px;">
            <thead>
                <th class="col-name">S No.</th>
                <th class="col-name">GSP</th>
                <th class="col-name">Substation</th>
                <th class="col-name">Node Name</th>
                <th class="col-name"></th>
            </thead>
            <tbody>
            {% for w in wan_tool %}
                <tr>
                    <td class="col-name">{{ forloop.counter }}</td>
                    <td class="col-code">{{ w.GSP }}</td>
                    <td class="col-name">{{ w.Substn }}</td>
                    <td class="col-code">{{ w.NodeName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

