{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="app-content" style="overflow:scroll !important;">
<h1 class="app-content-headerText">Net Zero Accelerator Platform</h1><br/>
    <img src="{% static 'images/image1.png' %}">
    <img style="max-width:730px; width:100%; height:228px; margin:auto;"src="{% static 'images/image3.png' %}">
    <div>
        <strong>As part of our core value of innovation,</strong> ITPEnergised has been working hard to develop a suite of leading-edge web and mobile applications to more efficiently and effectively accelerate intelligence and bias to action for some of the most pressing and current issues of net zero of our time.<br/><br/>
        <strong>Our platform accelerates the journey to net zero</strong> for our clients; housing a suite of techno-planning-environmental-safety-economic applications. By design, these intersect with our service wheel in order that we can back up digital results with customised consulting to draw out maximum value.<br/><br/>
        <strong>Our platform is further enhanced</strong> with input from our ecosystem partners where we have collaborated with world leading consultancies to provide increased depth of analysis and informed outcomes. Our platform’s starting state is shown in the infographics below with opportunity for relevant growth.<br/><br/>
        <strong>This application focuses on building a prioritisation funnel for existing and development stage wind portfolios for hybrid renewables conversion</strong> along with associated technical, commercial and environmental KPIs.
    </div>
    <img src="{% static 'images/image4.jpg' %}">
</div>
{% endblock content %}